[submodule "Assets/ExpressionParser"]
	path = Assets/ExpressionParser
	url = https://github.com/PavelZinchenko/Expression-Parser
[submodule "Assets/Modules/Database/Plugins/NVorbis"]
	path = Assets/Modules/Database/Plugins/NVorbis
	url = https://github.com/PavelZinchenko/NVorbis
